In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Combined_Less.csv')

C:\Users\javen\AppData\Local\Temp\ipykernel_12880\1365143574.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Combined_Less.csv')

In [3]:
df = df[['species', 'state', 'Common_Name']]

In [4]:
df.columns = ['scientific_name', 'state', 'english_name']

In [5]:
df.dropna(inplace=True)  # drop missing values

In [6]:
df.drop_duplicates(subset=['scientific_name'], inplace=True)

In [7]:
df.head()

           scientific_name state          english_name
0    Ambloplites rupestris    OH             Rock Bass
1      Campostoma anomalum    OH   Central Stoneroller
2   Catostomus commersonii    OH          White Sucker
3  Chrosomus erythrogaster    OH  South. Redbelly Dace
4  Clinostomus funduloides    OH         Rosyside Dace

In [8]:
len(df)

145

In [9]:
df.to_csv('species_in_USA.csv', index=False)